body {
    margin: 20;
    padding: 10;
    align-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8cc4c4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#logo {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
    display: inline-block; 
    vertical-align: middle; 
}

h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.game-container {
    display: flex;
    justify-content: space-between;
}

.user-choice,
.computer-choice,
.result {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.choice-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.choice-button:hover {
    background-color: rgb(16, 180, 117);
}

}
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}

.score,.tries {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
